

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(215, 215, 215);
  min-width: 20vw;
  color: #ffffff;
  margin-inline: 5vh;
  margin-top: 2vh;
  overflow: hidden;
  padding-top: 2vh;
}

.picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.picture img {
  height: 100%;
  object-fit: cover;
  border-radius: 9px;
  margin: 15px;
  cursor: pointer;
}


.share {
  display: flex;
  flex-direction: row;
  margin-block: 20px;
  justify-content: space-between;
  gap: 20px;
}


.col {
  display: flex;
  flex-direction: column;
  margin-block: 20px;
  justify-content: space-between;
  gap: 20px;
  position: fixed;
  right: 0;
  top: 40vh;
}

.share svg {
  border-radius: 9px;
}
.share svg:hover {
  transform: translateY(-2px);
  scale: 1.05;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 0px 32px;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 10%;
  width: 120px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 13;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: #000000;
  margin-inline: 5vh;
  margin-top: 2px;
  overflow: hidden;
  font-family: 'Courier New', 'Oxygen';
}

.footer a {
  color: #1b0321;
  text-decoration: none;
  margin-left: 5px;
  font-family: system-ui, 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
}

.footer a:hover {
  color: #1f0d2d;
  background-color: rgba(126, 178, 178, 0.377);
}